<%- include('header') %>
<%- include('menu') %>

<h2>Admin</h2>
<div>
    <ul>
        <li><a href="/admin/categorias">Gerenciar categorias</a></li>
        <li><a href="/admin/vagas">Vagas</a></li>
    </ul>
</div>
<%- include('footer') %>