<%- include('header') %>
<%- include('menu') %>

<h2>
    Nova Categoria:
    <a href="/admin/categorias">Categorias</a>
</h2>
<div>
    <form method="POST">
        <label>Categoria:</label>
        <input type="text" name="categoria">
        <button>Salvar Vaga</button>
    </form>

</div>
<%- include('footer') %>